:host {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  background-color: orange;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
  a {
    text-decoration: none;
    margin-bottom: 10px;
  }
  .active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.search-bar {
  width: 250px;
}
