<app-layout>
  <div class="sidebar">
    <a routerLink="/projects" routerLinkActive="active" mat-raised-button color="primary">Projects</a>
    <a routerLink="/complexities" routerLinkActive="active" mat-raised-button color="primary">Complexities</a>
    <a routerLink="/entries" routerLinkActive="active" mat-raised-button color="primary">Entries</a>
    <a routerLink="/resources" routerLinkActive="active" mat-raised-button color="primary">Resources</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</app-layout>
