
<form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" (keydown)="onKeyDown($event)">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
  </div>
  <button type="submit" [disabled]="updateUserForm.invalid">Update User</button>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

</form>
