<div class="project-container">
  <h1>Projects</h1>

  <div class="search-container">
    <input
      matInput
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      placeholder="Search projects"
    />
  </div>

  <!-- | searchFilter: searchTerm: ['name', 'description']-->
  <app-generic-table
    *ngIf="!loading"
   [data]="dataSource.data "
    [columns]="['id', 'name', 'description', 'dateCreated']"
    [columnLabels]="['ID', 'Name', 'Description', 'Date Created']"
    [entityName]="'Project'"
    [customTemplate]="dateCreatedTemplate"
    (createEntity)="createEntity()"
    (reloadEntity)="reloadProjects()"
  ></app-generic-table>


  <ng-template #dateCreatedTemplate let-project>
    {{ project.dateCreated | date: 'd MMMM yyyy' }}
  </ng-template>


  <div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>

</div>
